<div class="mdl-grid">

    <div class="mdl-cell mdl-cell--12-col">
        <h5>Atividade II</h5>
        <h6>Descrição da Atividade II</h6>
        <p><b>Tempo restante:</b> 4 horas.</p>
    </div>

    <div class="mdl-cell mdl-cell--12-col mdl-typography--text-center mdl-shadow--2dp">
        <img src="https://ead.facom.ufms.br/theme/image.php/clean/theme/1492699526/fp/dnd_arrow" />
        <p>Clique Aqui para submeter um arquivo.</p>
    </div>

    <div class="mdl-cell mdl-cell--12-col mdl-typography--text-center">
        <!-- Accent-colored raised button with ripple -->
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Enviar Tarefa
        </button>
    </div>


</div>