<style>
  .mdl-list .material-icons {
    color: black;
  }
  .botao-floating {
    position: absolute;
    bottom: 30px;
    right: 30px;
}
</style>
<div class="mdl-grid">

    <div class="mdl-cell mdl-cell--12-col">
        <h5>Interação Humano-Computador</h5>
        <h6><b>Professor:</b> Jane</h6>
        <h6><b>Horário:</b> Sexta-Feira (15h-19h)</h6>
    </div>

</div>

<div class="mdl-list">
  <div class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      <span>Avisos</span>
    </span>
    <a class="mdl-list__item-secondary-action" href="#!/cursos/material"><i class="material-icons">ic_keyboard_arrow_right</i></a>
  </div>
  <div class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      <span>Informações</span>
    </span>
    <a class="mdl-list__item-secondary-action" href="#!/cursos/material"><i class="material-icons">ic_keyboard_arrow_right</i></a>
  </div>
  <div class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      <span>Aulas</span>
    </span>
    <span class="mdl-list__item-secondary-content">
      <a class="mdl-list__item-secondary-action" href="#!/cursos/material"><i class="material-icons">ic_keyboard_arrow_right</i></a>
  </span>
  </div>
  <div class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      <span>Atividades</span>
    </span>
    <span class="mdl-list__item-secondary-content">
      <a class="mdl-list__item-secondary-action" href="#!/cursos/material"><i class="material-icons">ic_keyboard_arrow_right</i></a>
  </span>
  </div>
</div>