<style>
  .mdl-list .material-icons {
    color: black;
  }
  .botao-floating {
    position: absolute;
    bottom: 30px;
    right: 30px;
}
</style>
<div class="mdl-list">
  <div class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      <h5>Meus Cursos</h5>
    </span>
    </div>
  <div class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      <span>Verificação, Validação e Teste de Software I</span>
    </span>
    <a class="mdl-list__item-secondary-action" href="#!/cursos/material"><i class="material-icons">ic_keyboard_arrow_right</i></a>
  </div>
  <div class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      <span>Programação para Dispositivos Móveis</span>
    </span>
    <a class="mdl-list__item-secondary-action" href="#!/cursos/material"><i class="material-icons">ic_keyboard_arrow_right</i></a>
  </div>
  <div class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      <span>Interação Humano-Computador</span>
    </span>
    <span class="mdl-list__item-secondary-content">
      <a class="mdl-list__item-secondary-action" href="#!/cursos/material"><i class="material-icons">ic_keyboard_arrow_right</i></a>
  </span>
  </div>
</div>

<!-- Colored FAB button with ripple -->
<a href="#!/cursos/adicionar" class="botao-floating mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
  <i class="material-icons">add</i>
</a>